/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar custom Bandhu */
.scrollbar-bandhu::-webkit-scrollbar {
  width: 8px !important;
}

.scrollbar-bandhu::-webkit-scrollbar-track {
  background: #1f2937 !important;
  border-radius: 10px !important;
}

.scrollbar-bandhu::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #60a5fa 0%, #a855f7 100%) !important;
  border-radius: 10px !important;
}

.scrollbar-bandhu::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #3b82f6 0%, #9333ea 100%) !important;
}